path {
    fill: none;
    stroke-linejoin: round;
}

.constituency {
    stroke: #fff;
    stroke-width: 0.8px;
}

.region {
  stroke: none;
  pointer-events: visible;
}
.region path:hover {
    fill: cornflowerblue;
}

.cntry-bndry-ext {
  fill: #000;
  fill-opacity: .2;
  stroke-width: .35px;
  filter: url(#dropshadow);
}


