.constituency {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.region {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  /*stroke: #000;
  stroke-dasharray: 2px;*/
  stroke-linejoin: round;
}

.cntry-bndry-ext {
  fill: none;
  stroke: rgb(0,68,27);
  stroke-linejoin: round;
}

.region path:hover {
    fill: cornflowerblue;
}




