.constituency {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.region {
  fill: none;
  stroke: none;
  /*stroke: white;
  stroke-width: 1px;*/
  stroke-linejoin: round;
  pointer-events: visible;
}
.region path:hover {
    fill: cornflowerblue;
    pointer-events: visible;
}

.cntry-bndry-ext {
  fill: none;
  stroke:rgb(230, 230, 230);
  stroke-width: 1px;
  stroke-linejoin: round;
}



/*
.region-btn {
    fill:none;
}

.region-btn:hover {
    fill:cornflowerblue;
}
*/


