body {
    background:grey;
}

path {
    fill: none;
    stroke-linejoin: round;
}

.constituency {
    stroke: #fff;
    stroke-width: 0.8px;
}

.region {
  stroke: none;
  pointer-events: visible;
}
.region path:hover {
    fill: yellow;
    opacity: 0.3;
}

.cntry-bndry-ext {
    fill: white;
    fill-opacity: .8;
    stroke-width: .35px;
    filter: url(index.html#dropshadow);
}





