body {
    background:grey;
}

path {
    fill: none;
    stroke-linejoin: round;
    pointer-events: visible;
}

.constituency {
    stroke: #fff;
    stroke-width: 0.8px;
}

.constituency path:hover {
    fill: green;
}

.cntry-bndry-ext {
    fill: white;
    fill-opacity: .8;
    stroke-width: .35px;
    filter: url(index.html#dropshadow);
}

path.active, path.active:hover {
    fill: red !important;
    opacity: 0.3;
}


